body {
     background-color: lightgray;
}

#main {
    background: fixed;
    background-color: #99b4d1;
    height: 700px;
    width: 70%;
    margin: auto;
    /* overflow: hidden; */
}
#main2 {
    background: fixed;
    background-color: #99b4d1;
    height: 700px;
    width: 70%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content:center;
}

#characterbox, #characterbox2, #characterbox3, #characterbox4{
    /* width: 465px;  */
    width: 40%;
    /* height: 650px; */
    border: 2px solid;
    margin-left: 50px;
    margin-top: 25px;
    float:left;
    overflow: hidden;
    position: relative;
}
#menubox{
    /* width: 465px;  */
    width: 45%;
    height: 650px;
    margin-right: 50px;
    border:2px solid;
    margin-top: 25px;
    float:right;
    position: relative;
    /* align-content: center; */
    text-align: center;
}

#characterbox img , #characterbox2 img, #characterbox3 img, #characterbox4 img, #characterbox5 img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    /* height:100%; */
}

#characterbox5{
    width: 40%; 
    border: 2px solid;
    overflow: hidden;
    margin: auto;
}

.slider {
    width: 80%;
    height: 35px;
    background: #d3d3d3; /* Grey background */
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }


.nextButton, .previousButton {
    font-size: 15px;
    padding: 15px;
    bottom: 10px;
    position: absolute;
}
.nextButton{
    right: 10px;
}
.previousButton {
    left: 10px;
}
#nameTag {
    margin:auto;
    bottom: 25px;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
}

#disabilitySection{
    width:100%;
    position: relative;
    align-content: center;
    text-align: center;
}
.sectionHeading{
    margin:auto;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    text-decoration: underline;
    width: 50%;
}

.disabilityHeading{
    margin:auto;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
}


#disSection {
    display: none;
    margin: auto;
    padding: 2px;
    width:100%;
    text-align: center;
    position: relative;
}
#helpingAidsSection, #superpowerSection {
    width: 40%;
    height: 90px;
    margin: 10px;
    align-items: center;
    align-content: center;
}
#helpingAidsSection {
    float: left;
    border:2px solid;
    margin-left: 5%;

}
#superpowerSection {
    margin-right: 5%;
    float: right;
    border:2px solid; 
}

#caneLabel, #glassesLabel, #hearingLabel, #prostheticLabel, #wheelchairLabel{
    font-size: 17px;
    font-weight: initial;
    padding: 2px;
}

#blindSuperpowerLabel, #deafSuperpowerLabel, #amputationSuperpowerLabel, #paralysisSuperpowerLabel, #dwarfismSuperpowerLabel {
    font-size: 17px;
    font-weight: initial;
    padding: 2px;
}

.buttonText {
    color: black;
}

button {
    padding: 5px;
    margin-top: 10px;
}
label {
    margin:auto;
    font-weight: bold;
    font-size: 18px;
    /* padding: 5px; */
}


.faceOptionButton {
    margin: 5px 0px;
    padding: 3px;
}

#custom-slider-range {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 10px;
    background: linear-gradient(to right,
      black, brown, red, orange, yellow, green, blue, indigo, violet, white);
    outline: none;
    opacity: 0.8;
    transition: opacity 0.4s;
    border-radius: 15px;
}

#randomizeButton {
    /* position:absolute; */
    margin-top: 8%;
    padding: 10px;
    color: blue;
}

.optionsSlider {
    width:50%;
    height: 10px;
    background: #d3d3d3; /* Grey background */
}
.optionsLabel {
    margin:auto;
    font-weight: bold;
    font-size: 20px;
}

.disabledText{
    position: absolute;
    right: 18%;
    bottom: 1%;
}

#noMustacheButton, #noDressButton{
    border: 2px solid;
}

.eyeButton {
    height: 10px;
    width: 30px;
}